<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <script type="text/javascript" src="ajax.js"></script>
    <script type="text/javascript">
        function chkUser()
        {
           
            var uname = document.getElementById("uanme").value;
           
            ajax("register.ashx?userName=" + uname, function (resText)
            {
                document.getElementById("mess").innerHTML = resText;
            });
        }

      
    </script>
</head>
<body >
    <form  action="register.ashx" method="post">
         
                 用户名:
                 <input  type="text" name="uname" id="uanme" placeholder="username" onblur="chkUser()"  />
        <p id="mess" style="color:red" > </p>
          <br />
           <button class="btn " type="submit" >注册</button> 
           
  


    </form>
   

</body>
</html>
